.chat-wrapper {
  height: 100dvh;
  min-width: 600px;
  display: flex;
  flex-direction: column;
}

.messages-wrapper {
  flex-grow: 1;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.messages-scroll {
  overflow-y: auto;
}

.input-wrapper {
  padding: 32px 0;
  display: flex;
  align-items: center;
  gap: 1;
}

.textarea {
  flex-grow: 1;
  margin-right: 16px;
}

.chat-message {
  margin: 16px 0;
}

.message-content {
  max-width: 80%;
  border-radius: 16px;
  padding: 16px;
  color: #ffffff;
  white-space: pre-line;
  display: flex;

  &.owner {
    background-color: rgb(87 154 104);
  }
  &.others {
    background-color: rgb(30, 136, 136);
  }

  & .del {
    cursor: pointer;
    font-size: larger;
  }
}
